---
http_interactions:
- request:
    method: get
    uri: https://www.rfc-editor.org/rfcrss.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Sat, 14 Sep 2024 00:59:37 GMT
      Etag:
      - '"2f0b-62209da9643d8-gzip"'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<rss version=\"2.0\">\n\t<channel>\n\t\t<title>Recent
        RFCs</title>\n\t\t<link>https://www.rfc-editor.org/</link>\n\t\t<description>Recently
        published RFCs</description>\n\t\t<language>en-us</language>\n\t\t<lastBuildDate>Fri,
        13 Sep 2024 17:59:37 -0700</lastBuildDate>\r\n\t\t\t<item>\n\t\t<title>RFC
        9594: Key Provisioning for Group Communication Using Authentication and Authorization
        for Constrained Environments (ACE)</title>\n\t\t<link>https://www.rfc-editor.org/info/rfc9594</link>\n\t\t<description>This
        document defines how to use the Authentication and Authorization\r\nfor Constrained
        Environments (ACE) framework to distribute keying\r\nmaterial and configuration
        parameters for secure group communication.\r\nCandidate group members[...]
